.serviceModel { 
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.serviceModel h3 {
margin-bottom: 10px;
}

.serviceModel ul {
list-style-type: none;
padding: 0;
}

.serviceModel li {
margin-bottom: 5px;
}